.title{
    width: 100%;

    display: flex;
    align-items: center;
    margin-bottom: 5rem;
}
.image{
    border-radius: 100%;
    width: 7rem;
    height: 7rem;
    margin-right: 2rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.true{
    background: linear-gradient(#eeabf0,#8f63b8);
}

.false{
    background: linear-gradient(rgb(233, 210, 161),rgb(184, 158, 99));
}